@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Kanit&family=Krona+One&family=Montserrat:wght@300;900&family=Poppins:wght@200&family=Prompt:wght@300;500&family=Quicksand:wght@300&family=Roboto&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Comfortaa:wght@700&family=Kanit&family=Krona+One&family=Montserrat:wght@300;900&family=Poppins:ital,wght@0,200;1,800&family=Prompt:wght@300;500&family=Quicksand:wght@300&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:ital,wght@1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  justify-content: space-around;
  box-sizing: border-box;
}

.App {
  background-color: #0d1926;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(225, 255, 255);
}

select {
  margin-top: 8rem;
  margin-left: 40rem;
  border: rgb(84, 103, 104) solid 1px;
  background-color: #112030;
  outline: none;
  color: #fff;
  padding: 5px;
  z-index: 10;
}

.cercle2 {
  filter: blur(200px);
  position: fixed;
  width: 400px;
  height: 400px;
  background-color: #247ad0e0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-filter: blur(200px);
  animation-name: cercle;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.cercle1 {
  filter: blur(200px);
  position: fixed;
  width: 400px;
  height: 400px;
  background-color: #e74c3c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-filter: blur(200px);
  right: 0;
  top: 50vh;
  animation-name: cercle;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes cercle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header {
  padding: 10px;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(3rem);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.171);
  background-color: #18283a;
  z-index: 10;
  color: #fff;
}

.header h1 {
  font-size: 19px;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
  color: aquamarine;
}

.img {
  width: 100%;
  height: 50%;
  padding: 10px 20px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.cards {
  padding: 10rem;
  justify-content: flex-start;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.card {
  position: relative;
  margin: 1%;
  width: 18%;
  height: 270px;
  border: rgb(84, 103, 104) solid 1px;
  background-color: #24334238;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.514);
  overflow: hidden;
  z-index: 7;
}

.card:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.795);
}

.description {
  padding: 10px;
}

.description h3 {
  font-size: 12px;
}

.detail-content {
  background-color: #0d1926;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.back {
  font-size: 30px;
  position: absolute;
  left: 20px;
}

.content {
  position: relative;
  padding: 20px 10px;
  border: rgb(84, 103, 104) solid 1px;
  background-color: #24334238;
  display: flex;
  width: 70%;
  height: 70vh;
}

.country-data {
  width: 50%;
}

.name {
  font-size: 50px;
}

.continent {
  font-size: 30px;
  margin-bottom: 40px;
}

.day_data {
  display: flex;
  justify-content: flex-start;
}

.cases {
  background-color: rgba(255, 140, 0, 0.699);
  padding: 3px;
  margin-bottom: 5px;
  margin-top: 4rem;
}

.death {
  background-color: rgba(255, 0, 0, 0.678);
  padding: 3px;
  margin-bottom: 5px;
}

.recovered {
  background-color: green;
  padding: 3px;
  margin-bottom: 5px;
}

.tested {
  background-color: dodgerblue;
  padding: 3px;
}

@media only screen and (max-width: 540px) {
  select {
    margin-top: 80px;
    margin-left: 60px;
  }

  .cercle2 {
    display: none;
  }

  .cards {
    padding: 1rem 0;
  }

  .card {
    width: 48%;
  }

  .img {
    padding: 10px 10px;
  }

  .detail-content {
    min-height: 100vh;
  }

  .content {
    text-align: center;
    padding: 20px 10px;
    flex-direction: column;
    width: 95%;
    height: 95vh;
    align-items: center;
  }

  .country-data {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .country-data img {
    width: 50%;
  }

  .name {
    font-size: 20px;
  }

  .continent {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .back {
    font-size: 30px;
    top: 40px;
    left: 20px;
  }
}
